*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
img {
    border-radius: 80%;
    margin-right: 20px;
}
.hero {
    display: flex;
    justify-content: center;
    /* height: 500px; */
    /* width: 600px; */
    background-color: bisque;
    /* align-items: center;  */
    margin-left:300px; margin-right:300px ;margin-top: 40px; padding: 20px;
}
.hero-right {
    /* align-content: center; */
}
.OBJECTIVE {
    /* margin-left: 20px; */
}
.education {
    display: flex;
    /* margin: 10px; */
    padding: 10px;
    background-color: chartreuse;
}
.p1 , .p2 , .p3 , .p4 {
    margin: 20px;
}
@media screen and  (max-width:480px) { 
    .hero {
        margin: 0; flex-direction: column;
    }
    .hero img {
        margin-left: 100px;
    }
    .education {
        margin: 0%; padding: 0; border: solid red;
    }
    .p1 , .p2 , .p3 ,.p4 {
        margin: 15px;
    }
    .OBJECTIVE {
        padding: 15px;
    }
    .profile {
        background-color: cornflowerblue;
        padding: 15px;
    }
    .declaration {
        background-color: cornsilk; padding: 15px;
    }
    footer {
        background-color: darkgray; font-size: x-large; padding: 30px;
    }
    i {
        margin: 10px; padding: 20px; 
    }
    fa-brands fa-facebook {
opacity: 1; color: brown;
    }

    

    
    
}
.OBJECTIVE {
    background-color: aqua;
    /* margin: 40px; */
}



@media screen and (min-width:481px) {
    .hero {
        padding:40px; background-color: rgb(107, 173, 86); font-size: x-large;
    }
    .OBJECTIVE {
        padding: 40PX; font-size: xx-large;
    }
    .education {
        font-size: xx-large; padding: 40px;
    }
    .profile {
        padding: 40px; font-size: x-large; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: aquamarine;
    }
    .declaration {
        font-size: xx-large; padding: 40px; background-color: cornflowerblue;
    }
   footer {
    background-color: darkgray; font-size: xx-large; height: 150px; padding: 50px;
   }
   i {
    padding: 50px; margin: 40px; height: 100px; background: fixed; 
   }
   .edu {
    font-size: x-large; color: blue; background-color: chocolate;  padding: 40px;
   }
}
